.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    margin: 20px;
}

label { 
    font-weight: bold;
    display: block;
}

button{
    font-weight: bold;
}


input {
    display: block;
    margin: 0 0 10px 0;
}